body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: 'monospace', monospace;
}

input[type="number"] {
  width: 4em;
  margin: 0 0.5em 0 0.2em;
  font-family: inherit;
  font-size: 1em;
  padding: 0.2em 0.4em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
